<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<body>
	<!-- 用户管理 -->
	<div th:fragment="common">
		<!-- layui的css -->
		<link rel="stylesheet" href="/layui/css/layui.css">
		<!-- layui的js -->
		<script type="text/javascript" src="/layui/layui.all.js"></script>
		<script type="text/javascript">
			var $ = layui.$;
			var layer = layui.layer;
			var element = layui.element;
			var form = layui.form;
			var upload = layui.upload;
		</script>
	</div>
</body>
</html>
